.Navbar{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 7%;
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    background-color: black;
}

.Navbar:hover{
    background-color: rgba(0,0,0,0.9);
}