.MRow{
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
    overflow: scroll;
    scroll-behavior: auto;
}

.MRow::-webkit-scrollbar {
    display: none;
  }

.MRow h1, p{
    display: none;
}

.card{
    padding: 5px;
    float: left;
}

.MRow img{
    margin-top: 10px;
    width: 162px;
    height: 200px;
    margin-bottom: 5px;
    transition: 0.1s;
}

.image:hover{
    margin: 0;
    width: 165px;
    height: 215px;
}

