.Cover{
    display: block;
    height: 550px;
    text-align: center;
    display: flex;
    overflow: hidden;
    /* margin-top: 60px; */
}

.details{
    background-color: #000;
    width: 40%;
    color: white;
    box-shadow: 100px 0 100px black;
    padding-top: 5%;
}

.desc{
    display: block;
    width: 70%;
    margin: auto;
    /* padding-top: 10%; */
}

.image{
    width: 60%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 60px 0 60px  black;
    transition: 0.3s;
}

.image:hover{
    height: 600px;
}